[user]
  name = Mathieu Le Tyrant
  email = mathieu.letyrant@gmail.com

[push]
  autoSetupRemote = true

[alias]
  undo= reset --soft HEAD^

[core]
  pager=delta

[pull]
  rebase=true

[rebase]
  autostash=true