[user]
    name = Mathieu Le Tyrant
    email = mathieu.letyrant@gmail.com

[include]
    path = ~/.gitconfig.local

[push]
    autoSetupRemote = true

[alias]
    # Unstage last commit
    unstage = reset --soft HEAD~

    # Undo last commit
    undo = reset --hard HEAD~

    # Switch to a branch, creating it if necessary
    go = switch -c

    # yolo (commit with random message)!!!
    yolo = !git commit -am \"$(curl --silent --fail https://whatthecommit.com/index.txt)\" && git push origin

    # Show the last commit
    last = log -1 HEAD

    # Commit on last commit and push
	fixup = !git commit --amend --no-edit && git push --force-with-lease

    # Alias for git switch
    s = switch

[core]
    pager=delta

[pull]
    # Rebase instead of merge
    rebase=true

[rebase]
    # Preserve merge commits during rebase
    autostash=true

[help]
	# Automatically correct and execute mistyped commands.
	autocorrect = 1