# Security and private files
.ssh/
.gnupg/
.aws/
.kube/
*.pem
*.key
*.gpg
.gitconfig.local
.netrc

# API tokens and secrets
.env
.env.*
*.token
.npmrc
.yarnrc
.boto
.composer/auth.json

# IDE and editor files
.idea/
.vscode/

# ZED
config/.config/zed/conversations/

# Config folder
config/.config/raycast/
config/.config/github-copilot
config/.config/op
config/.config/op/c
config/.config/configstore
config/.config/stripe
config/.config/spicetify
