# Security and private files
.ssh/
.gnupg/
.aws/
.kube/
*.pem
*.key
*.gpg
.gitconfig.local
.netrc

# API tokens and secrets
.env
.env.*
*.token
.npmrc
.yarnrc
.boto
.composer/auth.json

# IDE and editor files
.idea/
.vscode/

# Raycast
1password/.config/raycast/